Repository MIA-Development-Team/Made-In-Abyss, pull requests merged in 2025-02, with the labels that each got.

#12 无限水桶
  src/main/java/com/altnoir/mia/content/items/base/UnlimitedBucketItem.java
  src/main/java/com/altnoir/mia/content/items/relics/t1/UnlimitedWaterBucket.java
  src/main/java/com/altnoir/mia/mixin/BucketItemMixin.java
  src/main/java/com/altnoir/mia/register/MIAItems.java
  src/main/resources/assets/mia/lang/en_us.json
  src/main/resources/assets/mia/lang/zh_cn.json
  src/main/resources/assets/mia/models/item/unlimited_water_bucket.json
  src/main/resources/assets/mia/textures/item/unlimited_water_bucket.png
  src/main/resources/data/minecraft/tags/blocks/climbable.json
  src/main/resources/mixins.mia.json
Labels: enhancement, ambiguous

#13 Delete .history/src/main/resources/data/mia/worldgen/biome directory
  .history/src/main/resources/data/mia/worldgen/biome/abyss_20250125195318.json
  .history/src/main/resources/data/mia/worldgen/biome/abyss_20250125195429.json
Labels: ambiguous

#15 feat: add lava generator block
  src/main/java/com/altnoir/mia/BlockEntityRegister.java
  src/main/java/com/altnoir/mia/BlocksRegister.java
  src/main/java/com/altnoir/mia/MIA.java
  src/main/java/com/altnoir/mia/content/blocks/seventhcrucible/SeventhCrucibleBlock.java
  src/main/java/com/altnoir/mia/content/blocks/seventhcrucible/SeventhCrucibleEntity.java
  src/main/resources/assets/mia/lang/zh_cn.json
Labels: enhancement
